.navbar {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}

#nav-header {
    color: black;
    size: 1em !important;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.authlink {
    text-decoration: none;
    margin: 0 15px;
    color: #4b598e;
    font-weight: bold;
}

.authlink:hover {
    color: white;
}