<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New App</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <div class="new-body">
        <h1>New Application</h1>
        <form action="/users/<%= user._id %>/applications" method="POST">
            <label for="company">Company:</label>
            <input type="text" name="company" id="company">

            <label for="title">Title:</label>
            <input type="text" name="title" id="title">

            <label for="notes">Notes:</label>
            <textarea name="notes" id="notes"></textarea>

            <label for="postingLink">Posting Link:</label>
            <input type="text" name="postingLink" id="postingLink">

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="interested">Interested</option>
                <option value="applied">Applied</option>
                <option value="interviewing">Interviewing</option>
                <option value="rejected">Rejected</option>
                <option value="accepted">Accepted</option>
            </select>

            <label for="jobType">Job Type:</label>
            <select id="jobType" name="jobType">
                <option value="software">Software</option>
                <option value="food-service">Food service</option>
                <option value="information-technology">Information Technology</option>
                <option value="other">Other</option>
            </select>

            <label for="dateApplied">Date Applied:</label>
            <input type="date" name="dateApplied" id="dateApplied">

            <button type="submit">Add Application</button>
        </form>
        </div>
</body>

</html>